---

---

<footer class="text-black/75 dark:text-white/60 mt-8">
  <p class="text-xs">
    (Sorry for the ad) I'm looking for a summer 2024 internship in software
    engineering in Europe or North America. If you are interested, please
    contact me <a href="mailto:contact@julienc.me">here</a>
  </p>
  <div class="flex w-full gap-4 justify-center mt-4 text-sm">
    <a href="/about" class="hover:underline"> Learn More</a>
    <a href="/random" class="hover:underline"> Random folder</a>
    <a
      href="https://github.com/julien040/alexandria-library"
      class="hover:underline"
    >
      Source code</a
    >
    <a href="https://github.com/julien040" class="hover:underline">Author</a>
  </div>
</footer>
